"*":
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.desktop": [
        "config"
      ]
      "source.vala": [
        "vapi"
      ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Envy Code R"
    fontSize: 10
    invisibles: {}
    showIndentGuide: true
  "go-plus":
    showPanelWhenNoIssuesExist: true
  linter: {}
  metrics: false
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".source.vala":
  editor:
    tabLength: 4
